.contain{
  position: absolute;
  margin:auto;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;

  
}
.contain h2{
  font-size: 2rem;
  color: white;
  font-weight: 800;
}
.contain p{
  font-size: 1.2rem;
  color: var(--primary-yellow);
  font-weight: 300;
  margin-bottom: 20px;
}
.containerCard{
  position:relative;
  width: 422px;
}
.containerCard img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  filter: brightness(0.5);
}

.gridProjects{
  display: flex;
  gap:12px;
  flex-wrap: wrap;
  justify-content: space-between;
}